body {
	background: rgba(1, 68, 68, 0.699);
	color: #171718d3;
	font-family: "Courier New", sans-serif;
	font-weight: 400;
	line-height: 1.2em;
}

a {
	color: #fff;
}

a:hover {
	color: #111111;
}

b {
	color: #000;
}




#header {
	width: 800px;
	margin: 0px auto;
	font-size: 10pt;
}

h1 {
	display: center;
	font-weight: 700;
	margin: 50px 0px 0px 0px;
	padding-bottom: 3px;
}

h1 a {
	color: #171718d3;
}

canvas {
	display: block;
	margin: 34px auto;
    background: rgba(46, 46, 59, 0.808);
    color: #ffffff;
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
	clear: both;
    /* disable selection of canvas */
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
world {
    color: whitesmoke;
}
#footer {
	line-height: 1.5em;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	padding-top: 3px;
	width: 800px;
	margin: 0px auto 100px auto;
}

#footer:before {
	content: "";
	display: block;
	padding-top: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}